// variables
$color1: rgb(248, 243, 243);
$color2: skyblue;
$color3: rgba(240, 233, 233, 0.801);
$color4: rgba(156, 152, 152, 0.753);
$white: white;
$black: black;

// ========== center box element===========
@mixin centerchild {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridtwocolum {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}

body {
    background: url(../../assets/img-webp/bg.webp) fixed center/cover;

    a {
        text-decoration: none;
        color: $black;
        // &:visited {
        //     color: $black;
        //     text-decoration: none;
        // }
    }
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Bold.ttf);
}

@font-face {
    font-family: "InterItalic";
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "MerriweatherRegular";
    src: url(../fonts/Merriweather-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block: 0;
    outline: none;
    list-style: none;
    font-family: MerriweatherRegular, sans-serif;
}